[user]
  name = Felipe Alexandre Rodrigues
  email = felipear89@gmail.com

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[alias]

  # branch
  b  = branch
  bs = show-branch -a
  bc = checkout -b
  bl = branch -av
  bd = branch --delete
  bD = branch --delete --force
  bm = branch --move
  bM = branch --move --force
  
  # fetch
  f   = fetch
  fm  = pull # fetch and merge
  fo  = fetch origin
  
  # merge
  m   = merge
  mom = merge origin/master
  
  # push
  p   = push
  po  = push -u origin
  pa  = push --all
  pt  = push --tags

  # checkout
  co  = checkout
  co0 = checkout HEAD --
  # commit
  c      = commit -v
  ca     = commit --all -v
  cm     = commit --message
  cam    = commit --all --message
  camend = commit --amend --reuse-message HEAD
  cp     = cherry-pick

  # diff
  d    = diff          # Diff working dir to index
  dc   = diff --staged # Diff index to HEAD
  dh   = diff HEAD     # Diff working dir and index to HEAD
  dl   = diff HEAD~1..HEAD
  dt   = difftool
  dtc  = difftool --cached
  dw   = diff --color-words

  # rebase
  r   = rebase
  rom = rebase origin/master

  # remote
  re  = remote
  rel = remote --verbose
  rea  = remote add
  reau = remote add upstream # + repo url
  rex = remote rm
  rem = remote rename

  # index
  s     = status
  sb    = status -sb
  a     = add

  # reset
  z     = reset
  zs     = reset --soft "HEAD^"
  zh     = reset --hard "HEAD^"

  # tags
  lt = describe --tags --abbrev=0
  lasttag = describe --tags --abbrev=0

  # log
  l   = log --topo-order --pretty=format:'%C(yellow)%h %C(cyan)%cn %C(blue)%cr%C(reset) %s'
  ls  = log --topo-order --stat --pretty=format:'%C(bold)%C(yellow)Commit:%C(reset) %C(yellow)%H%C(red)%d%n%C(bold)%C(yellow)Author:%C(reset) %C(cyan)%an <%ae>%n%C(bold)%C(yellow)Date:%C(reset)   %C(blue)%ai (%ar)%C(reset)%n%+B'
  ld  = log --topo-order --stat --patch --full-diff --pretty=format:'%C(bold)%C(yellow)Commit:%C(reset) %C(yellow)%H%C(red)%d%n%C(bold)%C(yellow)Author:%C(reset) %C(cyan)%an <%ae>%n%C(bold)%C(yellow)Date:%C(reset)   %C(blue)%ai (%ar)%C(reset)%n%+B'
  lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lga = log --topo-order --all --graph --pretty=format:'%C(yellow)%h %C(cyan)%cn%C(reset) %s %C(red)%d%C(reset)%n'
  lm  = log --topo-order --pretty=format:'%s'
  lh  = shortlog --summary --numbered
  llf = fsck --lost-found

  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

  lastweek = log --author=Felipe --pretty=oneline --all --abbrev-commit --since=7.day
  find = "!git ls-files | grep -i"
  prior-hash      = "!ph() { git log --pretty=format:'%h' -1 --skip=$1 $2; }; ph"
  diff-prev-easy  = "!dp() { git diff $(git prior-hash $1 $2).. $2; }; dp"
  diff-prev       = "!dp() { git diff $(git prior-hash $1 $2)..$(git prior-hash $(($1 - 1)) $2) $2; }; dp"

  # cleanup
  cleanup-local = ! git branch --merged | grep -v "\\*" | grep -v master | xargs -n 1 git branch -d
  cleanup-remote = remote prune origin

[branch]
  autosetuprebase = always

[branch "master"]
  remote = origin
  merge = refs/heads/master

[push]
	default = simple
[pull]
  rebase = true

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[diff]
	tool = p4mergetool
[difftool "p4mergetool"]
  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE

[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$LOCAL $PWD/$REMOTE $PWD/$MERGED
	trustExitCode = false
  keepBackup = false
  keepTemporaries = false
  
[commit]
	template = ~/.git_commit_msg.txt
