[submodule "vim/.vim"]
	path = vim/.vim
	url = https://github.com/felipear89/dotvim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
