[submodule "vim/.vim"]
	path = vim/.vim
	url = https://github.com/felipear89/dotvim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim/.vim/bundle/nerdtree.vim"]
	path = vim/.vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "/Users/felipe/.dotfiles/vim/.vim/bundle/editorconfig-vim"]
	path = /Users/felipe/.dotfiles/vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "/Users/felipe/.dotfiles/vim/.vim/bundle/fzf.vim"]
	path = /Users/felipe/.dotfiles/vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "/Users/felipe/.dotfiles/vim/.vim/bundle/vim-fugitive"]
	path = /Users/felipe/.dotfiles/vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
